body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(0, 255, 255, 0.1);
}
h1 {
  color: rgb(0, 0, 255);
  text-align: center;
}
#libDesc {
  margin: auto;
  text-align: center;
}
h2 {
  margin-left: 55px;
}
#badExample h2 {
  color: red;
}
#badExample svg {
  border: solid 1px red;
}
