body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: repeating-linear-gradient(rgba(2, 247, 255, 0.15)0px,
   rgba(2, 247, 255, 0.25) 144px, rgba(2, 247, 255, 0.15) 288px);
  background-attachment: fixed;
}
