body {
  /* font-family: Helvetica, Arial, sans-serif; */
  /* background-color: rgba(0, 255, 255, 0.15); */
  /* background: repeating-linear-gradient(rgba(0, 255, 255, 0.15)0px,
   rgba(0, 255, 255, 0.25) 144px, rgba(0, 255, 255, 0.15) 288px); */
  /* background: repeating-linear-gradient(rgba(0, 255, 255, 0.15)0px,
   rgba(0, 255, 0, 0.15) 89px, rgba(0, 255, 255, 0.15) 178px),
   repeating-linear-gradient(0.25turn, rgba(0, 255, 255, 0.15)0px,
    rgba(0, 255, 0, 0.15) 89px, rgba(0, 255, 255, 0.15) 178px); */
}
#main-column-examples {
  width: 90%;
  min-width: 1066px;
  padding: 55px 21px 55px 21px;
  box-shadow: 0px 0px 13px black;
  margin: 0px auto 0px auto;

  background-color: white;
  /* background-color: rgba(0, 255, 255, 0.15); */
}
#main-column-examples > div {
  margin-bottom: 55px;
}
#main-column-examples h2 {
  margin: 13px auto auto 34px;
  color: rgb(0, 0, 255);
}
#main-column-examples p {
  margin: 0px 34px 8px 34px;
}
#main-column-examples svg {
  border-radius: 20px;
  border: solid 1px rgb(0, 0, 255);
  margin: auto;
  display: block;
}
#main-column-examples .code-segment {
  max-width: 90%;
  min-width: 500px;
  margin: 13px auto 8px 34px;
}
#main-column-examples code {
  font-size: 13pt;
  color: #657b83;
  background-color: #fdf6e3;
}
#bad-example h2 {
  color: rgb(255,64,0);
}
#bad-example svg {
  border: solid 1px rgb(255,64,0);
}
#example3 #ex3-animate {
  stroke: rgb(46, 230, 230);
  stroke-width: 5px;
}
#example3 #ex3-avoid {
  stroke: rgb(230, 92, 46);
  stroke-width: 5px;
}
#interactive-example #table-form {
  margin: auto;
  min-width: 600px;
  max-width: 900px;
}
#interactive-example #table-form input {
  max-width: 100px;
  min-width: 50px;
  border-radius: 5px;
  border: solid 1px black;
}
#interactive-example #table-form th {
  min-width: 100px;
  max-width: 200px;
  border-right: solid 1px black;
  border-left: solid 1px black;
}
#interactive-example #interactive__animate {
  stroke: rgb(46, 230, 230);
  stroke-width: 5px;
}
#interactive-example #interactive__avoid {
  stroke: rgb(230, 92, 46);
  stroke-width: 5px;
}
#interactive-example #anim-start {
  stroke: black;
  stroke-width: 1px;
}
#interactive-example #anim-end {
  stroke: black;
  stroke-width: 1px;
}
