body {
  margin: 0;
}
#main-header {
  width: 100%;
  min-width: 710;
  height: 55px;
  background: linear-gradient(rgba(0, 255, 255, 1), rgba(0, 255, 255, 1) 61.8%,
    rgba(0, 255, 255, 0));

  position: fixed;
  top: 0px;
}
.logo img {
  margin: 13px 0px 0px 144px;
}
.main-nav {
  height: 55px;
  margin: 13px 55px 0px 0px;
  float: right;
}
.main-nav ul {
  margin: 0px;
}
.main-nav ul li {
  margin: 0px;
  display: inline;
}
.main-nav ul li a {
  padding: 3px 34px 3px 34px;
  border: solid 2px rgb(0, 0, 255);
  border-radius: 13px;
  margin: 3px 8px 0px 8px;

  /* rgb(0, 255, 0); */
  /* rgb(0, 255, 255); */
  /* rgb(0, 0, 255); */
  /* rgb(230, 184, 184); */
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 255);
  transition: 1.5s;
}
.main-nav ul li a:hover {
  color: rgb(0, 255, 255);
  background-color: rgb(0, 0, 255);
}
