body {
  background-image: repeating-linear-gradient(rgba(0, 0, 255, 0.35)0px,
   rgba(0, 0, 255, 0.45) 89px, rgba(0, 0, 255, 0.35) 178px);
  background-attachment: fixed;
}
img {
  margin: 144px auto 0px auto;
  display: block;
}
svg {
  /* border: solid 1px black; */
  margin: 89px auto 0px auto;
  display: block;
}
p {
  text-align: center;
  font-size: 13pt;
  font-weight: bold;
  color: rgb(0, 255, 255);
  margin: 5px auto 5px auto;
}
footer {
  width: 100%;
  height: 55px;

  background: linear-gradient(rgba(0, 255, 255, 0), rgba(0, 255, 255, 1) 39%,
    rgba(0, 255, 255, 1));
  color: rgb(0, 0, 255);

  position: absolute;
  bottom: 0px;
}
footer p {
  margin: 25px 21px 8px auto;
  float: right;
  color: rgb(0, 0, 255);
  font-size: 11pt;
  font-style: normal;
  /* position: relative;
  bottom: 0px;
  left: 0px; */
}
a {
  text-decoration: none;
}
